.popup__buttons-save_invalid {
  opacity: .2;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 1);
  color: rgba(0, 0, 0, 1);
}

.popup__buttons-save_invalid:hover {
  cursor: auto;
  opacity: .2;
}