.header {
  margin: 0 auto;
  padding: 28px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
  width: 100%;
  max-width: 880px;
  display: flex;
  justify-content: space-between;
}

@media (min-width: 450px) {
  .header {
    padding-top: 45px;
    padding-bottom: 36px;
  }
}

@media (min-width: 900px) {
  .header {
    padding-left: 0;
  }
}

.burger {
  display: none;
  visibility: hidden;
  flex-direction: column;
  opacity: 0;
  transition: visibility .5s linear, opacity .5s linear;
  /* position: fixed; */
  background-color: rgba(0, 0, 0);
  /* top: -50px;
  left: 50px; */
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
}

@media (max-width: 450px) {
  .burger {
    display: none;
  }
}

.burger_opened {
    display: flex;
    visibility: visible;
    opacity: 1;
}

.burger__button {
  background-color: black;
  display: block;
  border: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: right;
  color: #FFFFFF;
}

.burger__button:hover {
  cursor: pointer;
  opacity: .6;
}

.burger__account-email {
  display: block;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;

}