.header__button {
  background-color: black;
  border: 0;
  color: white;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  align-self: center;
}

.header__button:hover {
  cursor: pointer;
  opacity: .6;
}