.sign-up {
  margin: 0 auto;
  height: 100%;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  max-width: 880px;
  background: #000;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  box-sizing: border-box;
}