.burger__button {
  background-color: black;
  display: block;
  border: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: right;
  color: #FFFFFF;
}

.burger__button:hover {
  cursor: pointer;
  opacity: .6;
}